<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
 <handle flags="0" name="AADC_Arduino_Communication.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_State_Controller.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Basler-Rear_Cam.devicecontrol_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-AADC_Arduino_Communication.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_100506304_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_103135440_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_103393488_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_104896000_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_105838736_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_116567408_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_117046864_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_117771840_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_118982112_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_119953040_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_122772944_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_125648736_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_127012016_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_131009264_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_136858784_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_138252688_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_140510432_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_144508480_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_154611072_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_182991552_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_25141808_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_26995200_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_30788272_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_315918880_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_316967920_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_32450256_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_36691168_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_37977152_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_38071008_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_45751232_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_46747472_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_50205488_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_55718720_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_91526176_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_93343904_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_93635472_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_93688896_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_94781664_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_94806288_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_94995280_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_95675472_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_96511280_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_96610608_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config2-AADC_Arduino_Communication.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config2-AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="CloseConfig" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
 <handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
 <handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_101556064_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_101558448_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_107759168_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_107870896_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_110465984_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_110811760_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_110977904_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_111220496_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_111549472_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_111956880_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_112468448_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_112557600_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_112585568_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_112917088_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_113308256_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_114862528_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_114905152_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_115918736_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_117483232_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_117515424_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_117624528_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_117670384_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_117696496_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_117854848_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_118385824_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_120203104_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_120248912_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_120480400_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_120619920_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_120827744_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_121252048_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_121426528_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_123082832_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_123493936_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_123899600_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_123961520_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_124098672_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_124283168_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_125583296_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_127869152_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_128069712_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_129765792_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_130202544_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_130619584_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_131911872_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_132990480_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_134012272_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_134821792_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_134835760_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_137358192_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_137645504_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_138038912_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_138778128_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_139746656_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_140009776_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_140689744_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_141132240_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_141159824_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_141444304_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_141606576_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_141714336_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_142917664_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_143811568_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_145519728_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_150591648_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_151674432_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_152083328_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_154631008_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_160530144_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_171907104_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_171957152_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_173426592_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_174821440_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_176609104_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_179177424_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_260896176_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_267433792_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_30546128_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_39694000_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_40125440_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_42424608_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_49751936_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_50105008_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_50171568_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_52107552_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_52131872_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_52135104_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_52199712_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_65737296_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_92689040_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_92721520_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_94202208_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_95660640_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_97055472_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_98016432_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="JuryNotification-TrafficSignOutput_tcp_channel_99808448_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
 <handle flags="0" name="OpenConfig" priority="0" processoraffinity="0" />
 <handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
 <handle flags="0" name="RoadSign_Filter.rttimerSignTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
 <handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config-Jury_Config.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config2-Jury_Config.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.JuryNotification-PositionOutput.dataexchange_channel_thread_udp://192.168.1.20:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.JuryNotification-PositionOutput.udp_channel.receiver_thread(udp://192.168.1.20:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.JuryNotification-TrafficSignOutput.dataexchange_channel_thread_tcp://192.168.1.20:30001{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.can_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.core.memory_manager.release_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.lin_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.most_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.unnamed.hdsequencer_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.unnamed.looper_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_CrossingCreator.rttimerFreeParkingSpaceDetectionTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_Dynamic_Emergency_Filter.rttimerStateMachineTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_Free_Parking_Space_Detection.rttimerFreeParkingSpaceDetectionTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_Parking_Space_Detection.rttimerParkingSpaceDetectionTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_Planner.asyncdata_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_Planner.rttimerStateMachineTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_Singleton_Map.rttimerCSVwriter" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_Singleton_Map.rttimerMapTupdateTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_Singleton_Map_Visualization.rttimerCSVwriter" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_State_Machine.rttimerStateMachineTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_State_Machine2-AADC_State_Controller.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_VirtualCrossingCreator.rttimerFreeParkingSpaceDetectionTimer" priority="0" processoraffinity="0" />
 <handle flags="0" name="frAIburg_dynamic_csv_writer.rttimerCSVwriter" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
