<xml>
	<property name="Input Controller" value="tableview" />
	<property name="Input Controller.column_0_name" value="Signal" />
	<property name="Input Controller.column_0_show" value="true" />
	<property name="Input Controller.column_0_width" value="246" />
	<property name="Input Controller.column_1_name" value="Time" />
	<property name="Input Controller.column_1_show" value="true" />
	<property name="Input Controller.column_1_width" value="100" />
	<property name="Input Controller.column_2_name" value="Value" />
	<property name="Input Controller.column_2_show" value="true" />
	<property name="Input Controller.column_2_width" value="100" />
	<property name="Input Controller.column_3_name" value="Unit" />
	<property name="Input Controller.column_3_show" value="true" />
	<property name="Input Controller.column_3_width" value="100" />
	<property name="Input Controller.column_4_name" value="Raw" />
	<property name="Input Controller.column_4_show" value="true" />
	<property name="Input Controller.column_4_width" value="100" />
	<property name="Input Controller.column_5_name" value="Text" />
	<property name="Input Controller.column_5_show" value="true" />
	<property name="Input Controller.column_5_width" value="359" />
	<property name="Input Controller.height" value="214" />
	<property name="Input Controller.maximized" value="false" />
	<property name="Input Controller.signal_0_displayformat" value="1" />
	<property name="Input Controller.signal_0_displayname" value="adtf.core.mediadescription_manager/AADC_Car_Controller/SpeedController/data/tSignalValue/f32Value" />
	<property name="Input Controller.signal_0_name" value="adtf.core.mediadescription_manager/AADC_Car_Controller/SpeedController/data/tSignalValue/f32Value" />
	<property name="Input Controller.signal_0_unit" value="" />
	<property name="Input Controller.signal_1_displayformat" value="1" />
	<property name="Input Controller.signal_1_displayname" value="car speed" />
	<property name="Input Controller.signal_1_name" value="adtf.core.mediadescription_manager/AADC_Converter_Wheels/car_speed/data/tSignalValue/f32Value" />
	<property name="Input Controller.signal_1_unit" value="" />
	<property name="Input Controller.signal_count" value="2" />
	<property name="Input Controller.width" value="871" />
	<property name="Input Controller.x_pos" value="123" />
	<property name="Input Controller.y_pos" value="0" />
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="380" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="186" />
	<property name="View" value="scopeview" />
	<property name="View.active_signal" value="1" />
	<property name="View.autozoom_timer" value="false" />
	<property name="View.autozoomproperties_allsignals" value="true" />
	<property name="View.autozoomproperties_onlyvisiblevalues" value="false" />
	<property name="View.autozoomproperties_refreshrate" value="1000" />
	<property name="View.col_back_b" value="0" />
	<property name="View.col_back_g" value="0" />
	<property name="View.col_back_r" value="0" />
	<property name="View.col_grid_b" value="50" />
	<property name="View.col_grid_g" value="50" />
	<property name="View.col_grid_r" value="50" />
	<property name="View.column_name_width" value="100" />
	<property name="View.height" value="577" />
	<property name="View.link_selections" value="false" />
	<property name="View.maximized" value="false" />
	<property name="View.menubar" value="true" />
	<property name="View.sel_mode" value="0" />
	<property name="View.show_active_only" value="false" />
	<property name="View.show_markers" value="true" />
	<property name="View.show_modified_only" value="false" />
	<property name="View.show_one_scale" value="false" />
	<property name="View.showcolumn_minmaxavg" value="true" />
	<property name="View.showcolumn_selection" value="true" />
	<property name="View.showcolumn_unit" value="true" />
	<property name="View.sig0" value="adtf.core.mediadescription_manager/AADC_Car_Controller/SpeedController/data/tSignalValue/f32Value" />
	<property name="View.sig0.cblue" value="170" />
	<property name="View.sig0.cgreen" value="85" />
	<property name="View.sig0.cred" value="255" />
	<property name="View.sig0.displayname" value="input control" />
	<property name="View.sig0.factor" value="1" />
	<property name="View.sig0.linestyle" value="1" />
	<property name="View.sig0.max" value="100" />
	<property name="View.sig0.min" value="-100" />
	<property name="View.sig0.offset" value="0" />
	<property name="View.sig0.plotpoints" value="false" />
	<property name="View.sig0.scale_max" value="104" />
	<property name="View.sig0.scale_min" value="-104" />
	<property name="View.sig0.show" value="true" />
	<property name="View.sig0.show_scale" value="1" />
	<property name="View.sig0.unit" value="" />
	<property name="View.sig1" value="adtf.core.mediadescription_manager/AADC_Converter_Wheels/car_speed/data/tSignalValue/f32Value" />
	<property name="View.sig1.cblue" value="85" />
	<property name="View.sig1.cgreen" value="170" />
	<property name="View.sig1.cred" value="0" />
	<property name="View.sig1.displayname" value="car speed" />
	<property name="View.sig1.factor" value="1" />
	<property name="View.sig1.linestyle" value="1" />
	<property name="View.sig1.max" value="10" />
	<property name="View.sig1.min" value="-10" />
	<property name="View.sig1.offset" value="0" />
	<property name="View.sig1.plotpoints" value="false" />
	<property name="View.sig1.scale_max" value="2,466503667" />
	<property name="View.sig1.scale_min" value="-3,280195599" />
	<property name="View.sig1.show" value="true" />
	<property name="View.sig1.show_scale" value="1" />
	<property name="View.sig1.unit" value="" />
	<property name="View.signal_count" value="2" />
	<property name="View.signal_label_x_offset" value="0" />
	<property name="View.signal_label_y_offset" value="0" />
	<property name="View.splitterpos1" value="256" />
	<property name="View.splitterpos2" value="697" />
	<property name="View.statusbar" value="true" />
	<property name="View.toolbar" value="true" />
	<property name="View.width" value="965" />
	<property name="View.x_pos" value="-100" />
	<property name="View.Xinterval" value="10000000" />
	<property name="View.y_pos" value="104" />
	<property name="View.Ymax" value="2,466503667" />
	<property name="View.Ymin" value="-3,280195599" />
	<property name="View.zoom_mode" value="1" />
	<property name="width" value="1264" />
</xml>
